<h3>Feeds</h3>
<ul>
  <% collection.each (function (feed) {%>
    <li><a href="#feeds/<%= feed.id %>"><%= feed.escape("title")
    %><button data-id="<%= feed.id %>" class="delete">Delete Feed</button></a></li>
  <% }); %>
</ul>
<a href="#feeds/new">Add New Feed</a>
